{% extends "base.html" %} {% block title %}Nutrition: {% endblock %} {% block
content %}
<form method="POST">
  <h2 align="center">Daily Calories</h2>
  <br />
  <h4>
    You can specify quantity, For example. 3 eggs, or 1lb beef brisket, or 10oz
    onion and a tomato. If no quantity is given the default quantity is 100g.
  </h4>
  <br /><br />
  <div class="form-group">
    <label for="food">Food Item</label>
    <input
      type="food"
      class="form-control"
      id="food"
      name="food"
      placeholder="Enter Food"
    />
  </div>
  <br />
  <button
    type="submit"
    class="btn btn-primary"
    name="submit_button"
    value="log"
  >
    Log Food
  </button>
  <br /><br /><br />
  <h2>{{ item }}</h2>
  <h4>{{ cals }} Calories</h4>
  <br /><br />
  <h4>Total Calories Today: (Reset each Morning)</h4>
  <br />
  <h3>{{ user.calories }}</h3>
  <button
    type="submit"
    class="btn btn-primary"
    name="submit_button"
    value="reset_cals"
  >
    Reset Daily Calories
  </button>
</form>
{% endblock %}
