{% extends "base.html" %} {% block title %}Home: {% endblock %} {% block content
%}
<h2>Welcome to the Iron Will: Food and Fitness!</h2>
<h4>
  Here at Iron Will it is our goal to help everyone acheive their fitness and
  lifestyle goals. Whether that be gaining muscle, improving running or just
  feeling healthier we help with all of that!
</h4>
<h2>
  Your Personal Records!!<br />
  Bench PR: {{ user.bench }} | Squat PR: {{ user.squat }} | Deadlift PR: {{
  user.deadlift }}<br />
  Mile PR: {{ user.mile }} | 5K PR: {{ user.five_k }}<br /><br />
</h2>
<img
  src="https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Fitness/Galleries/10+Fitness+Tips/Muscle-confusion-is-the-only-way-to-go..jpg"
  alt="Fitness"
/>
{% endblock %}
