{% extends "base.html" %} {% block title %}Home: {% endblock %} {% block content
%}
<h2>Welcome to the Iron Will: Food and Fitness!</h2>
<h4>
  Here at Iron Will it is our goal to help everyone acheive their fitness and
  lifestyle goals. Wether that be gaining muscle, improving running or just
  feeling healthier we help with all of that!
</h4>
<img
  src="https://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Fitness/Galleries/10+Fitness+Tips/Muscle-confusion-is-the-only-way-to-go..jpg"
  alt="Fitness"
/>
{% endblock %}
